header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
}
main {
    background-color: white;
    padding: 20px;
}
.post {
    margin-bottom: 60px;
}
.post .user-info img {
    border-radius: 50%;
}
* {
    font-family: 'Quicksand', sans-serif;
}