<!doctyp html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> mkdir -p ~/workspace/.c9/runners/; wget https://gist.githubusercontent.com/kvirani/2d816e0f8e3fea328e8d/raw/01c2eddf2dcece5f3f14e85c70dffb8bcef62c77/Sinatra.run -O ~/workspace/.c9/runners/Sinatra.run
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
     <title>FINSTAGRAM</title>
    </head>
    <body>
        <%=yield %>
    </body>
</html>